.row {
  display: flex;
  align-items: center;
  padding: 20px;
  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-size: 18px;
  }
}
